@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --branco:#E2E2E2;
    --amarelo:#EBCD32;
    --amarelo2:rgb(236, 235, 147);
    --marrom:#353131;
    --cinza:#757575;

}

body{
    background-color: var(--marrom);
    border: solid var(--amarelo);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    font-family:'Poppins', sans-serif ;
    overflow-x: hidden;
}

header{
    padding: 20px;
    text-align: center;
    

    margin-bottom: 30px;
}

main{
    padding: 10px 20px;
    min-width: 320px;
}

article{
    margin-bottom: 20px;
}

img{
    max-width: 100%;
    height: auto;
    float: left;
    overflow: auto;
    margin: 0, 15px;
    border-radius: 10px;
}

h1{
    color: var(--amarelo);
    font-size: 40px;

}

h2{
    color: var(--amarelo2);
}

p{
    color: var(--branco);
    text-align: justify;
}

ul{
    color: var(--branco);
}

li{
    color: var(--branco);
    font-size: 15px;
}

footer {
    border: solid var(--amarelo);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

footer a{
    padding-right: 10px;
    text-decoration: none;
    color: var(--amarelo);
}

footer section{
    color: var(--branco);
}

.titulo{
    font-size: 50px;
    overflow: auto;
    margin-left:9px;
    text-align: left;
    padding-left:20px;
    height: 238px;
}

.Contexto{
    margin-top:30px;
    margin-bottom:30px;

}
.Contexto h2{
    margin-bottom: 20px;

}

.linguagem{
    margin-top:30px;
    margin-bottom:30px;
}

.linguagem h2{
    margin-bottom:20px;
}

#text{
    margin-top: 10px;
}

.Variaveis{
    margin: 30px ;

}

.Variaveis p{
    margin-top: 15px ;
    margin-bottom: 10px;

}

.Variaveis h2 {
    margin-top: 15px ;
    margin-bottom: 20px;
    
}

.variavelCode{
    display: block;
    color: var(--branco);
    border: solid var(--amarelo);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}

.Dados {
    margin: 30px;
}

.Dados p{
    margin-top:15px;
    margin-bottom: 10px;
}

.Dados h2{
    margin-top:15px;
    margin-bottom: 20px;
}

.AritmeticosCode{
    display: block;
    color: var(--branco);
    border: solid var(--amarelo);
    border-radius: 5px;
    text-align: start;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.if{
    margin: 30px ;
}

.if h2{
    margin-top:15px;
    margin-bottom: 20px;
}

.if p{
    margin-top:15px;
    margin-bottom: 20px;
}

.condicaoCode{
    width: pre-wrap;
    display: block;
    color: var(--branco);
    border: solid var(--amarelo);
    border-radius: 5px;
    text-align: start;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.switch{
    margin: 30px;
}

.switch h2{
    margin-top:15px;
    margin-bottom: 20px;
}

.switch p{
    margin-top:15px;
    margin-bottom: 20px;
}

.switch li{
    margin: 30px;
    font-size: 30px;
}

.repeticao{
    margin: 30px;
}

.repeticao h2{
    margin-top:15px;
    margin-bottom: 20px;
}

.for{
    margin: 30px;
}

.for p, h2 {
    margin-top:15px;
    margin-bottom: 20px;
}


.while{
    margin: 30px;
}

.while p, h2 {
    margin-top:15px;
    margin-bottom: 20px;
}


.do-while{
    margin: 30px;
}

.do-while p, h2{
    margin-top:15px;
    margin-bottom: 20px;
}

.repeticaoCode{ 
    display: block;
    color: var(--branco);
    border: solid var(--amarelo);
    border-radius: 5px;
    text-align: start;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.funcoes{
    margin: 30px;
}

.funcoes p, h2{
    margin-top:15px;
    margin-bottom: 20px;
}

#list{
    margin-top:15px;
    margin-bottom: 20px;

}

.funcaoCode{
    display: block;
    color: var(--branco);
    border: solid var(--amarelo);
    border-radius: 5px;
    text-align: start;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.arrow{
    margin: 30px;
}

.arrow p, h2{
    margin-top:15px;
    margin-bottom: 20px;
}

#listArow{
    margin-top:15px;
    margin-bottom: 20px;

}


.hoisting{
    margin: 30px;
}

#hoisting{
    display: block;
    color: var(--branco);
    border: solid var(--amarelo);
    border-radius: 5px;
    text-align: start;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.hoisting p, h2 {
    margin-top: 15px;
    margin-bottom: 20px;
}

#hoisting{
    display: block;
    color: var(--branco);
    border: solid var(--amarelo);
    border-radius: 5px;
    text-align: start;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.array-listas{
    margin: 30px;
}

.array-listas p, h2{
    margin-top: 15px;
    margin-bottom: 20px;
}

.listas-arrayCode{
    display: block;
    color: var(--branco);
    border: solid var(--amarelo);
    border-radius: 5px;
    text-align: start;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Strings{
    margin: 30px;
}

.Strings p, h2, li{
    margin-top: 15px;
    margin-bottom: 20px;
}

.manipulacaoStringCode{
    display: block;
    color: var(--branco);
    border: solid var(--amarelo);
    border-radius: 5px;
    text-align: start;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.math{
    margin: 30px;
}

.math p, h2, li{
    margin-top: 15px;
    margin-bottom: 20px
}

.mathCode{
    display: block;
    color: var(--branco);
    border: solid var(--amarelo);
    border-radius: 5px;
    text-align: start;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.agradecimentos p{
    margin-top: 10px;
}

.agradecimentos a{
    text-decoration: none;
    
}

.agradecimentos button{
    margin-top: 10px;
    padding: 15px;
    border-radius: 20px;
    border: solid var(--amarelo);
    background-color:var(--marrom);
    color: var(--branco);
    font-family:'Poppins' sans-serif ;
    cursor: pointer;
    
}

.referencias{
    margin-top: 30px ;

}

.referencias h1{
    text-align: left;
}

.referencias a{
    color: var(--amarelo2);
    
}

@media screen and (min-width: 375px), (max-width:600px){

    body{
        padding: 0;
    }

    main{
        padding: 10px;
    }

    header{
        padding: 20px, 20px, 0px, 20px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    header .titulo{
        font-size: 25px;
        text-align: left;
        padding-left: 7px;
        margin: 0px;
    }

    header img{
        height: 80px;
        
        
    }

    main{
        font-size: 14px;
    }

    footer{
        font-size: 14px;
        margin: 30px;
    }

    .Contexto{
        margin: 30px;
        margin-top: 0px;
    }

    .linguagem{
        margin: 30px;
    }

    .variavelCode{
        font-size: 10px;
        margin-top: 10px;
    }

    .AritmeticosCode{
        font-size: 10px;
        
    }

    .condicao{
        margin: 30px;
    }

    .switch{
        margin: 0px;

    }

    .condicaoCode{  
        font-size: 10px;
        width: 200px;
        
      
    }

    .for{
        margin: 0px;
    }

    .while{
        margin: 0px;
    }

    .do-while{
        margin: 0px;
    }

    .repeticaoCode{ 
        font-size: 10px;
    }

    .funcoes2{
        margin: 0px;
        
    }
    
    .arrow{
        margin: 0px;
    }

    .funcaoCode{
        font-size: 10px;
        width: 250px;
        
    }

    #hoisting{
        font-size: 10px;
    }

    .listas-arrayCode{
        font-size: 10px;
    }
    .manipulacaoStringCode{
        font-size: 10px;
        width: 250px;
    }

    .mathCode{
        display: block;
        font-size: 10px;
    }

    .agradecimentos{
        margin: 30px;
    }

    .referencias{
        margin: 30px;
    }


    


}
